.logo, body header .header-wrap .landing-logo, body footer .footer-wrap .footer_logo {
  width: 9vw;
  height: 3.3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .logo p, body header .header-wrap .landing-logo p, body footer .footer-wrap .footer_logo p {
    width: 4vw;
    font-size: 1.6vw;
    font-weight: bold;
    font-family: '"Source Sans Pro", sans-serif';
    text-align: center; }
    .logo p span, body header .header-wrap .landing-logo p span, body footer .footer-wrap .footer_logo p span {
      font-size: 0.8vw;
      font-weight: normal;
      font-family: '"Hind", sans-serif';
      display: inline-block;
      position: relative;
      top: -0.5vw;
      width: 4vw; }

.button, body header .header-wrap .header_button, body main .section_banner .section_banner_button {
  width: 9.5vw;
  height: 3.5vw;
  background-color: #699900;
  color: #ffffff;
  font-weight: bold;
  border: none; }
  .button:hover, body header .header-wrap .header_button:hover, body main .section_banner .section_banner_button:hover {
    cursor: pointer;
    background-color: #8ccc00; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ffffff; }
  body header {
    width: 100vw;
    height: 47vw;
    background: url("../img/m-h-day.jpg") no-repeat;
    background-size: 100% 110%;
    padding: 1vw 47vw 11vw 11vw;
    border-radius: 0 0 45% 0;
    color: #2c2f3c; }
    body header .header-wrap {
      width: 43vw;
      height: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      body header .header-wrap .header_heading {
        font-family: '"Source Sans Pro", sans-serif';
        width: 33vw;
        font-size: 3.8vw;
        font-weight: bold;
        z-index: 100; }
        body header .header-wrap .header_heading::before {
          content: '';
          z-index: -100;
          background-color: #14a0c7;
          position: absolute;
          margin-top: 7.5vw;
          margin-left: 0vw;
          width: 15vw;
          height: 2vw; }
      body header .header-wrap .header_text {
        white-space: pre-line;
        font-size: 1.1vw; }
  body main {
    height: 47vw;
    width: 100vw;
    padding: 3vw 11vw 14vw; }
    body main .section_text {
      font-family: '"Source Sans Pro", sans-serif';
      text-align: center;
      font-size: 1.9vw;
      color: #2c2f3c;
      font-weight: bold;
      margin: 0 0 3vw 0;
      z-index: 100; }
      body main .section_text::before {
        content: '';
        z-index: -100;
        background-color: #14a0c7;
        position: absolute;
        margin-top: 1.5vw;
        margin-left: 10vw;
        width: 8vw;
        height: 0.8vw; }
    body main .section_card_wrap {
      width: 100%;
      height: 30vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      body main .section_card_wrap .section_card {
        width: 25vw;
        height: 28vw;
        font-family: '"Hind", sans-serif';
        background-color: #21232e;
        color: #ffffff;
        padding: 1.5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 2%; }
        body main .section_card_wrap .section_card .section_card_img {
          width: 100%;
          height: 50%;
          border-radius: 2%; }
        body main .section_card_wrap .section_card .section_card_heading {
          font-size: 1.5vw;
          font-weight: bold; }
          body main .section_card_wrap .section_card .section_card_heading .section_card_underline {
            display: block;
            height: 0.6vw;
            margin-top: -0.6vw;
            background-color: #14a0c7; }
        body main .section_card_wrap .section_card .section_card_text {
          opacity: 0.6;
          font-size: 1vw;
          text-align: center; }
    body main .section_banner {
      width: 62vw;
      height: 10vw;
      background: linear-gradient(45deg, #649413, #3260c9);
      border-radius: 0.5vw;
      z-index: 100;
      position: relative;
      margin: 4vw auto;
      padding: 3vw 8vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      body main .section_banner .section_banner_text_wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        body main .section_banner .section_banner_text_wrap .section_banner_heading {
          color: #2c2f3c;
          font-family: '"Source Sans Pro", sans-serif';
          font-weight: bold;
          font-size: 1.8vw; }
          body main .section_banner .section_banner_text_wrap .section_banner_heading::before {
            content: '';
            z-index: -100;
            background-color: #14a0c7;
            position: absolute;
            margin-top: 1.4vw;
            margin-left: 7.3vw;
            width: 3.6vw;
            height: 0.8vw; }
        body main .section_banner .section_banner_text_wrap .section_banner_text {
          color: #ffffff;
          font-size: 1vw; }
  body footer {
    width: 100vw;
    height: 15.8vw;
    background: #21232e;
    z-index: -100;
    padding: 8.5vw 3vw 3.6vw 11vw; }
    body footer .footer-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #ffffff;
      opacity: 0.7; }
      body footer .footer-wrap .footer_text {
        width: 19.5vw;
        font-size: 1vw; }
