* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
}

header {
    width: 100vw;
    height: 84vw;
    background-color: #000000;
    color: #F0F0F0;
}

.header {
    background-image: url(../img/sample2.jpg);
    background-size: 120vw 64vw;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 64vw;
}

.headerLogo {
    position: absolute;
    margin: 4vw;
    width: 92vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.33vw;
}

.headerLogo p {
    letter-spacing: 0.3vw;
}

.headerLogo nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.headerLogo nav ul li a {
    text-decoration: none;
    color: #F0F0F0;
    margin-left: 3.12vw;
}

.header h1 {
    font-size: 3.5vw;
    letter-spacing: 0.8vw;
    position: absolute;
    font-weight: 200;
    margin: 24.5vw 28vw 0;
}

.big {
    font-size: 6.5vw;
}

.header h3 {
    position: absolute;
    font-weight: normal;
    margin: 33.5vw 40vw 0;
}

.headerNav {
    width: 100vw;
    position: absolute;
    margin-top: 49.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerNav button {
    width: 12.24vw;
    height: 2.76vw;
    color: #F0F0F0;
    text-align: center;
    background-color: #00000091;
}

.headerText {
    width: 45vw;
    position: absolute;
    margin: 65vw 4vw 0 51vw;
}

.mainTriangle {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20vw solid #E8E8E8;
    border-right: 100vw solid transparent;
    margin-top: -20vw;
}

.mainTriangle h4 {
    font-weight: normal;
    position: absolute;
    top: 83vw;
    font-size: 1.75vw;
    padding-left: 37vw;
}

.mainTriangle h4 b {
    font-size: 1.75vw;
}

.mainTriangle p {
    font-size: 1.24vw;
    position: absolute;
    top: 75vw;
    padding-left: 4vw;
}

#secondRow {
    position: absolute;
    top: 77vw;
}

.topSection {
    height: 64vw;
    width: 100vw;
    background-color: #E8E8E8;
    padding: 4vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.topSectionImage {
    background-image: url(../img/sample-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 46vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.66vw;
}

.topSectionImage:nth-child(even) {
    background-image: url(../img/sample-2.jpg);
}

.topSectionImage p {
    color: #FFFFFF;
    font-size: 1.12vw;
}

.likes {
    width: 5vw;
    height: 2.8vw;
    border: #FFFFFF solid 0.22vw;
    font-size: 1vw;
    text-align: center;
    line-height: 2.5vw;
    align-self: flex-end;
    background-color: #00000091;
}

.topSectionText {
    width: 46vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5vw 0.5vw 0.5vw 5.4vw;
}

.topSectionText:nth-child(odd) {
    padding: 0.5vw 5.4vw 0.5vw 0.5vw;
}

.topSectionText p {
    margin-top: 3.18vw;
    text-align: center;
}

.centerSection {
    height: 40vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3.17vw 4vw;
    color: #FFFFFF;
}

.centerSectionBtn {
    width: 25vw;
    height: 4.4vw;
    background-color: #097774;
    border: none;
    color: #FFFFFF;
    margin: 4.42vw 32.16vw;
}

.centerSectionImage {
    width: 18.83vw;
    height: 25.17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.83vw;
    background-image: url(../img/news-list-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.centerSectionImage:nth-child(2) {
    background-image: url(../img/news-list-2.jpg);
}

.centerSectionImage:nth-child(3) {
    background-image: url(../img/news-list-3.jpg);
}

.centerSectionImage:nth-child(4) {
    background-image: url(../img/news-list-4.jpg);
}

.centerSectionImage button {
    height: 2.8vw;
    border: none;
    color: #FFFFFF;
    background-color: #1e726ebf;
    font-weight: bold;
}

.textSection {
    width: 100vw;
    height: 16.83vw;
    background-color: #E8E8E8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 4vw 2.33vw;
}

.textSection p {
    width: 100%;
}

.textSection h4 {
    font-weight: normal;
    margin-right: 1.04vw;
    margin-top: 1vw;
    font-size: 1.67vw;
}

.textSection h4 b {
    font-size: 1.67vw;
}

.pageform {
    width: 12.75vw;
    padding: 1vw;
    margin-right: 0.96vw;
    border: #000000 solid 0.1vw;
}

input::placeholder {
    color: #000000;
}

.pagebutton {
    width: 7.1vw;
    border: none;
    background-color: #097774;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.4vw;
}

footer {
    width: 100vw;
    height: 4.29vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.information {
    color: #9E9E9E;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #000000;
    margin-left: 2vw;
}

button:hover {
    cursor: pointer;
}