.title{
    margin: 30px 20px;
}
.text{
    margin: 10px 20px;
}
.emojiIcons{
    margin: 10px 20px;
}
.buttonContainer{
    margin: 20px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}