$bgrCol: #ffffff;
$bgrImg: '../img/m-h-day.jpg';
$txtCol: #2c2f3c;
$btnCol: #699900;
$lineCol: #14a0c7;
$partBgr: #21232e;
$gradBgr: linear-gradient(45deg, #649413, #3260c9);
$fonts:('logoFont': '"Source Sans Pro", sans-serif', 'headerFont': '"Source Sans Pro", sans-serif', 'pageFont': '"Hind", sans-serif');