$bgrCol: #21232e;
$bgrImg: '../img/m-h-night.jpg';
$txtCol: #ffffff;
$btnCol: #e3ac00;
$lineCol: #ff4e33;
$partBgr: #3b3f50;
$gradBgr: linear-gradient(45deg,#dfa603, #99374c);
$fonts:('logoFont': '"Fresca", sans-serif', 'headerFont': '"Source Sans Pro", sans-serif', 'pageFont': '"Fresca", sans-serif');
