.groupItems{
    width: 32%;
    height: 200px;
    background-color: #f1ececb5;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .bigEmoji{
        width: 60px;
        height: 60px;
        position: relative;
        top: 20px;
        left: calc(16% - 15px);
    }

    .mediumEmoji{
        width: 30px;
        height: 30px;
        position: relative;
        top: -20px;
        left: 18%;
    }

    .smallEmoji{
        width: 15px;
        height: 15px;
        position: relative;
        top: -35px;
        left: calc(16% - 10px);
    }

    .emojiTitle{
        font-size: 20px;
        font-weight: bold;
    }

    .stars{
        color: #f5c612;
    }
}