@media print {

    .tm-sidebar,
    #about,
    .tm-main-content section:nth-child(2) div:not(:first-child),
    .img-fluid,
    #contact,
    .boxes,
    .tm-team-img,
    .tm-main-content section:nth-child(4) > div:last-child,
    .tm-main-content section:nth-child(5) ol,
    .tm-main-content section:nth-child(6) {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .tm-main-content {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .tm-content-box {
        margin-bottom: 0px;
    }

    #home .tm-banner {
        width: 100%;
    }

    .tm-content-box.flex-2-col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .tm-team-description-container {
        max-width: 100%;
    }

    h2 {
        color: #76cdd7;
        text-transform: uppercase;
        font-size: 15px;
    }

    p {
        font-size: 9.5px;
    }

    .heading ol {
        list-style: none;
        margin: 0 auto;
        font-size: 9.5px;
        width: 200px;
    }

    .heading ol li:nth-child(odd) {
        text-align: left;
    }

    .heading ol li:nth-child(even) {
        text-align: right;
    }

    .heading li a {
        color: #666;
    }

    .heading li::first-letter {
        color: #7DD0E0;
        font-size: 13px;
    }

}

@media screen {
    .tm-section-title-box:hover {
        color: aliceblue;
        background-color: #76cdd7;
        font-weight: bold;
        cursor: pointer;
    }

    p:first-letter {
        color: #87CEFA;
        font-size: 30px;
    }

    .tm-team-description-container {
        max-width: 100%;
    }

    #home {
        width: 100%;
        background-color: #87CEFA;
    }

    .tm-banner-inner {
        background-color: white;
    }

    .tm-banner-text {
        word-spacing: 10px;
        letter-spacing: 3px;
        text-shadow: 1px 13px #87cefa8c;
        animation-name: moving;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    @keyframes moving {
        from {
            transform: rotateY(0deg);
        }

        to {
            transform: rotateY(360deg);
        }
    }

    .tm-content-box,
    .boxes,
    .tm-sidebar,
    section.blocks div.tm-team-description-container {
        border: solid #888888 2px;
        box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
    }

    section.blocks div.flex-2-col {
        box-shadow: none;
        border-color: #f5f5f5;
    }

    section {
        position: relative;
    }

    section::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        border-right: 40px solid transparent;
        border-top: 40px solid #76cdd7;
    }

    section.tm-content-box::before {
        content: '';
        border-top-color: transparent;
    }

    .tm-content-box.flex-2-col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    h2 + p {
        font-style: italic;
        color: gray;
    }

    .carousel-item .carousel-content .flex-item .tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }

    p {
        text-indent: 25px;
        line-height: 35px;
    }

    .heading h2 {
        text-align: center;
        color: #87CEFA;
    }

    .heading a {
        color: black;
    }

    .heading a:visited {
        color: #ffb347;
        text-decoration: none;
    }

    .heading a:hover {
        font-weight: bold;
        color: #ffb347;
        text-decoration: none;
    }

    .heading a:hover::before {
        content: "|";
    }

    .text:after {
        content: "New";
        color: red;
        font-size: 12px;
        position: relative;
        bottom: 7px;
        display: inline-block;
    }

    .box-work {
        width: 32%;
    }

    .gallery-container {
        display: flex;
        justify-content: space-around;
    }

    .box-work p {
        text-indent: 0px;
    }

    .box-work p:first-letter {
        color: black;
    }

    ul .box:nth-child(even) {
        background-color: #f5f5f5;
    }

    .submit-btn {
        color: #87CEFA;
        background-color: aliceblue;
        border-color: #3cb5ff;
        border-radius: 0px;
        position: relative;
        left: 930px;
    }

    .submit-btn:hover {
        color: aliceblue;
        background-color: #76cdd7;
        font-weight: bold;
        border-color: #3cb5ff;
    }

    .mandatory-field::after {
        background-image: url(../img/email-icon.png);
        background-size: 30px 30px;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 3px;
        content: "";
    }

    .tm-nav-item-link:hover {
        background-color: #f5f5f5;
    }

    .form-control {
        border: 2px solid #87CEFA;
    }

    #contact_name,
    #contact_email,
    #contact_subject {
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
    }

    input:focus,
    textarea:focus {
        background-color: #87CEFA;
        color: white;
    }

}